/* This file is for miscillanious styles */


html{
  font-size: @font-size--base;
}
body{
  background-color: @clr-grey-100;
  color: @clr-grey-600;
  position: relative;
}

a,
a:hover,
a:active{
  text-decoration: none;
  color: inherit;
}

input, textarea{
  background: transparent;
  display: inline;
  padding: 0;
  border: none;
  outline: none;
}